<div data-align="center">
<img src="images/steamos-logo.png" alt="holo-PKGBUILD" /><img
src="images/mirror.png" alt="mirror" /><img
src="images/steamos-logo-flipped.png" alt="holo-PKGBUILD" />
</div>
<h1 id="table-of-contents">Table of Contents</h1>
<ul>
<li><a
href="#steamos-3x-holo-pkgbuild-source-code-public-mirror-">SteamOS 3.x
(holo) PKGBUILD (Source Code) Public Mirror 🪞 (Introduction)</a></li>
<li><a
href="#shallow-clone-recommended-for-submodules-submodule-shallow-clone">Shallow
Clone Recommended for Submodules (Submodule Shallow Clone)</a></li>
<li><a href="#clone-complete-repository-include-submodules">Clone
Complete Repository (include Submodules)</a></li>
<li><a href="#steamos-3x-holo-pkgbuild-holo-pkgbuild-rebase">SteamOS 3.x
(holo) PKGBUILD (holo-PKGBUILD) Rebase</a></li>
<li>📦 <a href="#-buildmake-steamos-3x-holo-package">Build/Make SteamOS
3.x (holo) Package</a>
<ul>
<li>📦 <a href="#-automatically">Automatically</a></li>
<li>📦 <a href="#-manually">Manually</a></li>
<li>➕ <a href="#-additional-softwarepackages">Additional
Software/Packages</a></li>
</ul></li>
<li><a
href="#steamos-3x-holo-steam-deck-jupiter-pkgbuild-source-code-public-mirror-portal">SteamOS
3.x (holo) | Steam Deck (jupiter) PKGBUILD (Source Code) Public Mirror
🪞 Portal</a></li>
<li>👍 <a
href="#-valve-official-steamos-3x-holo-and-steam-deck-jupiter-public-repositories-">Valve
(Official) SteamOS 3.x (holo) and Steam Deck (jupiter) Public
Repositories</a> 👍</li>
<li>🙅 <a
href="#-packagesrepositories-valve-collabora-and-igalia-are-in-violation-of-gnu-license-">Packages/Repositories
Valve, Collabora, and Igalia are in Violation of GNU License</a> 👎
<ul>
<li><a href="#manually-deobfuscate-source-package">Manually Deobfuscate
Source Package</a></li>
<li><a href="#gpl-package-research">GPL Package Research</a></li>
</ul></li>
<li>😉 <a href="#-gitlab-repository-private-public-how-to-">GitLab
Repository Private-Public How-to</a> 😂</li>
<li>💭 <a href="#-thoughtsopinions-">Thoughts/Opinions</a> 💡</li>
<li>📜 <a href="#-license-">License</a> 📜</li>
</ul>
<h1
id="steamos-3.x-holo-pkgbuild-source-code-public-mirror"><img align="center" alt="holo-PKGBUILD" src="images/steamos-logo.png" width="48">
SteamOS 3.x (holo)
<img align="center" alt="holo-PKGBUILD" src="images/steamos-logo-flipped.png" width="48">
PKGBUILD (Source Code) Public Mirror 🪞</h1>
<div data-align="center">
<p><strong><em><a href="https://gitlab.com/users/evlaV/projects">These
humble public repositories (<span class="citation"
data-cites="gitlab.com/evlaV">@gitlab.com/evlaV</span>)</a> (especially
the following (elaborate/expansive) <a
href="https://en.wikipedia.org/wiki/Markdown">Markdown</a>
documentation) are dedicated to the memory of:</em></strong></p>
<p>🫶 <strong><em><a
href="https://en.wikipedia.org/wiki/Aaron_Swartz">Aaron
Swartz</a></em></strong> 🫶</p>
</div>
<hr />
<p>Before you ask/assume (<em>ass-u-me</em>), no, this is not some <a
href="https://en.wikipedia.org/wiki/Multiverse">parallel universe</a> or
<a href="https://en.wikipedia.org/wiki/April_Fools&#39;_Day">April
Fools’ Day</a> joke. <a
href="https://gitlab.com/users/evlaV/projects">These public repositories
(<span class="citation"
data-cites="gitlab.com/evlaV">@gitlab.com/evlaV</span>)</a> are an
<strong>unmodified 1:1 public copy/mirror</strong> of Valve’s
<strong>latest</strong> (currently private) <a
href="https://gitlab.steamos.cloud/holo">SteamOS 3.x (holo) GitLab
repositories</a> (<a
href="https://gitlab.steamos.cloud/steam">secondary</a>), i.e.,
<strong>SteamOS 3.x (holo) source code</strong>.</p>
<p><a href="https://gitlab.com/evlaV/holo-PKGBUILD">This repository
(holo-PKGBUILD)</a> and <a
href="https://gitlab.com/evlaV/jupiter-PKGBUILD">jupiter-PKGBUILD</a>
have exclusively (and respectively) been modified (when necessary) to
source from this public copy/mirror, i.e., <a
href="https://gitlab.com/users/evlaV/projects">these public repositories
(<span class="citation"
data-cites="gitlab.com/evlaV">@gitlab.com/evlaV</span>)</a> - let’s call
them <strong>public mirrors</strong>. <strong><em>To clarify/elucidate,
the ONLY (necessary) modifications made are to specific PKGBUILD -
pointing/redirecting to <a
href="https://gitlab.com/users/evlaV/projects">these public mirrors
(<span class="citation"
data-cites="gitlab.com/evlaV">@gitlab.com/evlaV</span>)</a> instead of
Valve’s (currently private) <a
href="https://gitlab.steamos.cloud/holo">SteamOS 3.x (holo) GitLab
repositories</a> (<a
href="https://gitlab.steamos.cloud/steam">secondary</a>).</em></strong></p>
<p>These <del>public repositories</del> (<em>cough</em>) <a
href="https://gitlab.com/users/evlaV/projects"><strong>public
mirrors</strong> (<span class="citation"
data-cites="gitlab.com/evlaV">@gitlab.com/evlaV</span>)</a> (including
<a href="https://gitlab.com/evlaV/holo-PKGBUILD">this repository
(holo-PKGBUILD)</a>) are automatically maintained via a bot; using a
series of bespoke tools (I may open source these tools if there’s
interest). I started developing these tools on <em>March 3, 2022</em>,
(after <em><a
href="https://steamdeck-images.steamos.cloud/recovery/steamdeck-recovery-1.img.bz2">Steam
Deck (jupiter) Recovery Image 1</a></em> (<a
href="https://steamdeck-images.steamos.cloud/recovery/steamdeck-recovery-1.img.zip">zip</a>)
release date) while reverse engineering the (aforementioned) <a
href="https://steamdeck-images.steamos.cloud/recovery/">Steam Deck
(jupiter) Recovery Image</a>.</p>
<p><a href="https://gitlab.com/users/evlaV/projects">These
<strong>public mirrors</strong> (<span class="citation"
data-cites="gitlab.com/evlaV">@gitlab.com/evlaV</span>)</a> launched
<em>April 1, 2022</em>, and are automatically maintained
(<strong>updated daily</strong>) until Valve officially publicizes their
(currently private) <a href="https://gitlab.steamos.cloud/holo">SteamOS
3.x (holo) GitLab repositories</a> (<a
href="https://gitlab.steamos.cloud/steam">secondary</a>), i.e.,
<strong>SteamOS 3.x (holo) source code</strong>. All projects are
sourced from Valve’s latest <a
href="https://steamdeck-packages.steamos.cloud/archlinux-mirror/sources/">official
(main) source packages</a>.</p>
<hr />
<p><img align="left" alt="holo-PKGBUILD" src="images/steamos-logo.png" width="48"><img align="right" alt="holo-PKGBUILD" src="images/steamos-logo-flipped.png" width="48"><img align="left" alt="jupiter-PKGBUILD" src="images/steam-deck-logo-black.png" width="48"><img align="right" alt="jupiter-PKGBUILD" src="images/steam-deck-logo-black-flipped.png" width="48"></p>
<div data-align="center">
<p><strong><em>I hope the publication and maintenance of <a
href="https://gitlab.com/users/evlaV/projects">these public mirrors
(<span class="citation"
data-cites="gitlab.com/evlaV">@gitlab.com/evlaV</span>)</a> provide some
(much needed) transparency as well as aid, encourage, and inspire
SteamOS 3.x / Steam Deck
contributors/developers/tinkerers.</em></strong></p>
</div>
<hr />
<h2
id="shallow-clone-recommended-for-submodules-submodule-shallow-clone">Shallow
Clone Recommended for Submodules (Submodule Shallow Clone)</h2>
<p>Due to the (increasingly) redundant nature of the included
submodules, a <strong>submodule shallow clone</strong> is recommended to
reduce local storage consumption and improve repository performance. A
shallow clone will (locally) trim and rebase (graft) repository:</p>
<div class="sourceCode" id="cb1"><pre class="sourceCode sh"><code class="sourceCode bash"><span id="cb1-1"><a href="#cb1-1" aria-hidden="true" tabindex="-1"></a><span class="fu">git</span> clone <span class="at">--recurse-submodules</span> <span class="at">--shallow-submodules</span> https://gitlab.com/evlaV/holo-PKGBUILD.git</span></code></pre></div>
<p>To shallow clone <a
href="https://gitlab.com/evlaV/holo-PKGBUILD">this repository
(holo-PKGBUILD)</a> and submodules:</p>
<div class="sourceCode" id="cb2"><pre class="sourceCode sh"><code class="sourceCode bash"><span id="cb2-1"><a href="#cb2-1" aria-hidden="true" tabindex="-1"></a><span class="fu">git</span> clone <span class="at">--depth</span><span class="op">=</span>1 <span class="at">--recurse-submodules</span> <span class="at">--shallow-submodules</span> https://gitlab.com/evlaV/holo-PKGBUILD.git</span></code></pre></div>
<p>To shallow clone <a
href="https://gitlab.com/evlaV/holo-PKGBUILD">this repository
(holo-PKGBUILD)</a> and exclude submodules (not recommended):</p>
<div class="sourceCode" id="cb3"><pre class="sourceCode sh"><code class="sourceCode bash"><span id="cb3-1"><a href="#cb3-1" aria-hidden="true" tabindex="-1"></a><span class="fu">git</span> clone <span class="at">--depth</span><span class="op">=</span>1 https://gitlab.com/evlaV/holo-PKGBUILD.git</span></code></pre></div>
<p>or alternatively:</p>
<div class="sourceCode" id="cb4"><pre class="sourceCode sh"><code class="sourceCode bash"><span id="cb4-1"><a href="#cb4-1" aria-hidden="true" tabindex="-1"></a><span class="fu">git</span> clone <span class="at">--depth</span> 1 https://gitlab.com/evlaV/holo-PKGBUILD.git</span></code></pre></div>
<p>You may consider increasing the depth option parameter/value
(<strong>1</strong>) to extend/increase commit history (at the cost of
local storage consumption). Set <strong>d</strong>epth
<strong>(d=number/integer)</strong> to <strong>30</strong> to retain the
<strong>29 (d-1)</strong> latest commits and graft the <strong>30th
((d)th)</strong> commit (variably the commit history of the past month;
if repository averages one (1) commit per day). Set depth to
<strong>1</strong> for minimum local storage consumption, i.e., the
latest (head) commit (grafted); no commit history (recommended).</p>
<p>To (re)shallow existing repository or retain shallow clone depth
during/after Git fetch/pull (merge) operations, use option(s)
<code>--depth=n</code> or <code>--depth=n --rebase</code>
respectively:</p>
<div class="sourceCode" id="cb5"><pre class="sourceCode sh"><code class="sourceCode bash"><span id="cb5-1"><a href="#cb5-1" aria-hidden="true" tabindex="-1"></a><span class="fu">git</span> fetch <span class="at">--depth</span><span class="op">=</span>1</span>
<span id="cb5-2"><a href="#cb5-2" aria-hidden="true" tabindex="-1"></a><span class="fu">git</span> rebase</span></code></pre></div>
<p>or alternatively:</p>
<div class="sourceCode" id="cb6"><pre class="sourceCode sh"><code class="sourceCode bash"><span id="cb6-1"><a href="#cb6-1" aria-hidden="true" tabindex="-1"></a><span class="fu">git</span> pull <span class="at">--depth</span><span class="op">=</span>1 <span class="at">--rebase</span></span></code></pre></div>
<ul>
<li><p>Optionally prune (potential) loose objects (trim) after
(re)shallow:</p>
<div class="sourceCode" id="cb7"><pre
class="sourceCode sh"><code class="sourceCode bash"><span id="cb7-1"><a href="#cb7-1" aria-hidden="true" tabindex="-1"></a><span class="fu">git</span> gc <span class="at">--prune</span><span class="op">=</span>now</span></code></pre></div></li>
</ul>
<hr />
<p>To unshallow repository, i.e., restore complete/full clone depth (be
prepared for a large download):</p>
<div class="sourceCode" id="cb8"><pre class="sourceCode sh"><code class="sourceCode bash"><span id="cb8-1"><a href="#cb8-1" aria-hidden="true" tabindex="-1"></a><span class="fu">git</span> fetch <span class="at">--unshallow</span></span></code></pre></div>
<p>or alternatively:</p>
<div class="sourceCode" id="cb9"><pre class="sourceCode sh"><code class="sourceCode bash"><span id="cb9-1"><a href="#cb9-1" aria-hidden="true" tabindex="-1"></a><span class="fu">git</span> pull <span class="at">--unshallow</span></span></code></pre></div>
<h2 id="clone-complete-repository-include-submodules">Clone Complete
Repository (include Submodules)</h2>
<p>Use option <code>--recurse-submodules</code> during Git clone to
include submodules:</p>
<div class="sourceCode" id="cb10"><pre
class="sourceCode sh"><code class="sourceCode bash"><span id="cb10-1"><a href="#cb10-1" aria-hidden="true" tabindex="-1"></a><span class="fu">git</span> clone <span class="at">--recurse-submodules</span> https://gitlab.com/evlaV/holo-PKGBUILD.git</span></code></pre></div>
<p>or alternatively:</p>
<div class="sourceCode" id="cb11"><pre
class="sourceCode sh"><code class="sourceCode bash"><span id="cb11-1"><a href="#cb11-1" aria-hidden="true" tabindex="-1"></a><span class="fu">git</span> clone https://gitlab.com/evlaV/holo-PKGBUILD.git</span>
<span id="cb11-2"><a href="#cb11-2" aria-hidden="true" tabindex="-1"></a><span class="fu">git</span> submodule update <span class="at">--init</span> <span class="at">--recursive</span></span></code></pre></div>
<p>or alternatively:</p>
<div class="sourceCode" id="cb12"><pre
class="sourceCode sh"><code class="sourceCode bash"><span id="cb12-1"><a href="#cb12-1" aria-hidden="true" tabindex="-1"></a><span class="fu">git</span> clone https://gitlab.com/evlaV/holo-PKGBUILD.git</span>
<span id="cb12-2"><a href="#cb12-2" aria-hidden="true" tabindex="-1"></a><span class="fu">git</span> submodule init <span class="at">--recursive</span></span>
<span id="cb12-3"><a href="#cb12-3" aria-hidden="true" tabindex="-1"></a><span class="fu">git</span> submodule update <span class="at">--recursive</span></span></code></pre></div>
<hr />
<p>Use option <code>--recurse-submodules</code> during Git fetch/pull
(merge) operations to include submodules:</p>
<div class="sourceCode" id="cb13"><pre
class="sourceCode sh"><code class="sourceCode bash"><span id="cb13-1"><a href="#cb13-1" aria-hidden="true" tabindex="-1"></a><span class="fu">git</span> fetch <span class="at">--recurse-submodules</span></span></code></pre></div>
<p>or alternatively:</p>
<div class="sourceCode" id="cb14"><pre
class="sourceCode sh"><code class="sourceCode bash"><span id="cb14-1"><a href="#cb14-1" aria-hidden="true" tabindex="-1"></a><span class="fu">git</span> pull <span class="at">--recurse-submodules</span></span></code></pre></div>
<h2 id="steamos-3.x-holo-pkgbuild-holo-pkgbuild-rebase">SteamOS 3.x
(holo) PKGBUILD (holo-PKGBUILD) Rebase</h2>
<p><a href="https://gitlab.com/evlaV/holo-PKGBUILD">This repository
(holo-PKGBUILD)</a> may occasionally be rebased. This will
(destructively) remove obsolete commit history and data (to reduce
repository size) and improve repository performance, but may disrupt
normal Git fetch/pull (merge) operations. If you receive a branch
diverged error message upon Git fetch/pull (merge):</p>
<div class="sourceCode" id="cb15"><pre
class="sourceCode sh"><code class="sourceCode bash"><span id="cb15-1"><a href="#cb15-1" aria-hidden="true" tabindex="-1"></a><span class="fu">git</span> fetch</span>
<span id="cb15-2"><a href="#cb15-2" aria-hidden="true" tabindex="-1"></a><span class="fu">git</span> rebase</span></code></pre></div>
<p>or alternatively:</p>
<div class="sourceCode" id="cb16"><pre
class="sourceCode sh"><code class="sourceCode bash"><span id="cb16-1"><a href="#cb16-1" aria-hidden="true" tabindex="-1"></a><span class="fu">git</span> pull <span class="at">--rebase</span></span></code></pre></div>
<p><strong>This will result in (local) commit history and data
loss.</strong> <em>This commit history and data loss is
composed/consisting completely of obsolete data which has since been
depreciated or replaced by (a) newer/later revision(s).</em></p>
<blockquote>
<p><strong>Latest Rebase: January 11, 2023</strong></p>
</blockquote>
<h2 id="buildmake-steamos-3.x-holo-package">📦 Build/Make SteamOS 3.x
(holo) Package</h2>
<h3 id="automatically">📦 Automatically</h3>
<div class="sourceCode" id="cb17"><pre
class="sourceCode sh"><code class="sourceCode bash"><span id="cb17-1"><a href="#cb17-1" aria-hidden="true" tabindex="-1"></a>  <span class="ex">usage:</span> ./build.sh [package_dirname ...] [option ...] [makepkg_option ...]</span>
<span id="cb17-2"><a href="#cb17-2" aria-hidden="true" tabindex="-1"></a><span class="ex">example:</span> ./build.sh steamos-efi linux holo-keyring <span class="at">--srcinfo</span> <span class="at">-f</span></span>
<span id="cb17-3"><a href="#cb17-3" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb17-4"><a href="#cb17-4" aria-hidden="true" tabindex="-1"></a><span class="ex">options:</span></span>
<span id="cb17-5"><a href="#cb17-5" aria-hidden="true" tabindex="-1"></a>  <span class="ex">--srcinfo</span>         enable <span class="er">(</span><span class="ex">AUR</span><span class="kw">)</span> <span class="ex">.SRCINFO</span> generation <span class="er">(</span><span class="ex">before</span> make package<span class="kw">)</span></span>
<span id="cb17-6"><a href="#cb17-6" aria-hidden="true" tabindex="-1"></a>  <span class="ex">--srcinfo-only</span>    ONLY generate <span class="er">(</span><span class="ex">AUR</span><span class="kw">)</span> <span class="ex">.SRCINFO</span> <span class="er">(</span><span class="ex">disable/skip</span> make package<span class="kw">)</span></span>
<span id="cb17-7"><a href="#cb17-7" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb17-8"><a href="#cb17-8" aria-hidden="true" tabindex="-1"></a><span class="fu">make</span> all <span class="er">(</span><span class="ex">found</span><span class="kw">)</span> <span class="ex">package</span><span class="er">(</span><span class="ex">s</span><span class="kw">)</span> <span class="cf">if</span> <span class="ex">package</span> <span class="er">(</span><span class="ex">directory</span> name <span class="er">(</span><span class="fu">dirname</span><span class="kw">))</span> <span class="ex">not</span> specified</span>
<span id="cb17-9"><a href="#cb17-9" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb17-10"><a href="#cb17-10" aria-hidden="true" tabindex="-1"></a><span class="ex">see</span> makepkg help <span class="er">(</span><span class="st">&#39;makepkg -h&#39;</span><span class="ex">,</span> <span class="st">&#39;makepkg --help&#39;</span><span class="kw">)</span> <span class="cf">for</span> makepkg <span class="ex">options</span></span></code></pre></div>
<p>Run (<a href="build.sh">included</a>) <code>./build.sh</code> to
automatically make all (found) or specified pacman packages (PKGBUILD);
optionally specify package (directory name (dirname)) as argument(s) to
make instead of all (found). Use option <code>--srcinfo</code> to enable
(AUR) <a href="https://wiki.archlinux.org/title/.SRCINFO">.SRCINFO</a>
generation (before make package) or <code>--srcinfo-only</code> to ONLY
generate (AUR) <a
href="https://wiki.archlinux.org/title/.SRCINFO">.SRCINFO</a>
(disable/skip make package).</p>
<p>Run (<a href="build.sh">included</a>) <code>./build.sh -h</code> for
usage instructions.</p>
<h3 id="manually">📦 Manually</h3>
<p>Change directory to respective pacman package(s) (PKGBUILD) e.g.,
<code>cd steamos-efi</code></p>
<p>Make respective pacman package (PKGBUILD):</p>
<div class="sourceCode" id="cb18"><pre
class="sourceCode sh"><code class="sourceCode bash"><span id="cb18-1"><a href="#cb18-1" aria-hidden="true" tabindex="-1"></a><span class="ex">makepkg</span></span></code></pre></div>
<p>Install (potentially) missing dependencies (with pacman) then make
respective pacman package (PKGBUILD):</p>
<div class="sourceCode" id="cb19"><pre
class="sourceCode sh"><code class="sourceCode bash"><span id="cb19-1"><a href="#cb19-1" aria-hidden="true" tabindex="-1"></a><span class="ex">makepkg</span> <span class="at">-s</span></span></code></pre></div>
<p>Install (potentially) missing dependencies (with pacman) then make
and install respective pacman package (PKGBUILD):</p>
<div class="sourceCode" id="cb20"><pre
class="sourceCode sh"><code class="sourceCode bash"><span id="cb20-1"><a href="#cb20-1" aria-hidden="true" tabindex="-1"></a><span class="ex">makepkg</span> <span class="at">-is</span></span></code></pre></div>
<p>Install (potentially) missing dependencies (with pacman) then clean,
make, and install respective pacman package (PKGBUILD):</p>
<div class="sourceCode" id="cb21"><pre
class="sourceCode sh"><code class="sourceCode bash"><span id="cb21-1"><a href="#cb21-1" aria-hidden="true" tabindex="-1"></a><span class="ex">makepkg</span> <span class="at">-Cis</span></span></code></pre></div>
<p>Run <code>makepkg -h</code> or see: <a
href="https://wiki.archlinux.org/title/Makepkg#Usage">makepkg usage</a>
for detailed usage instructions.</p>
<hr />
<h3 id="additional-softwarepackages">➕ Additional
Software/Packages</h3>
<ul>
<li><a href="build.sh">build.sh</a> | <a
href="#-automatically">documentation</a> | <a
href="map/PKGBUILD">PKGBUILD</a> - make all (found) or specified pacman
packages (PKGBUILD)</li>
</ul>
<p>Steam Deck (jupiter) | jupiter-PKGBUILD:</p>
<ul>
<li><a
href="https://gitlab.com/evlaV/jupiter-PKGBUILD/-/blob/master/jupiter-bios-tool.py">jupiter-bios-tool.py</a>
| <a
href="https://gitlab.com/evlaV/jupiter-PKGBUILD#-steam-deck-jupiter-bios-tool-jupiter-bios-tool-">documentation</a>
| <a
href="https://gitlab.com/evlaV/jupiter-PKGBUILD/-/blob/master/jupiter-bios-tool/PKGBUILD">PKGBUILD</a>
- analyze, verify, backup/generate/inject UID, and dynamically trim ✂️
any/all Steam Deck (jupiter) BACKUP and RELEASE BIOS (*_sign.fd)</li>
<li><strong>jupiter-bios-unlock</strong>
<ul>
<li><a
href="https://gitlab.com/evlaV/jupiter-PKGBUILD/-/blob/master/jupiter-bios-unlock.c">jupiter-bios-unlock.c</a>
| <a
href="https://gitlab.com/evlaV/jupiter-PKGBUILD/-/blob/master/bin/jupiter-bios-unlock">x86_64
prebuilt C binary</a> | <a
href="https://gitlab.com/evlaV/jupiter-PKGBUILD#-c-binary-jupiter-bios-unlockc-preferredprimary-">documentation</a>
| <a
href="https://gitlab.com/evlaV/jupiter-PKGBUILD/-/blob/master/jupiter-bios-unlock/PKGBUILD">PKGBUILD</a>
| <a
href="https://gitlab.com/evlaV/jupiter-PKGBUILD/-/blob/master/jupiter-bios-unlock-bin/PKGBUILD">PKGBUILD
(bin)</a> - enhanced/extended edition (e.g., unlock+lock support) of <a
href="https://gist.github.com/SmokelessCPUv2/8c1e6559031e199d9a678c9fe2ebf7d4">SD_Unlocker.c</a>
(preferred/primary)</li>
<li><a
href="https://gitlab.com/evlaV/jupiter-PKGBUILD/-/blob/master/jupiter-bios-unlock.py">jupiter-bios-unlock.py</a>
| <a
href="https://gitlab.com/evlaV/jupiter-PKGBUILD#-python-jupiter-bios-unlockpy-alternativesecondary-">documentation</a>
| <a
href="https://gitlab.com/evlaV/jupiter-PKGBUILD/-/blob/master/jupiter-bios-unlock-python/PKGBUILD">PKGBUILD</a>
- Python (wrapper) equivalent (alternative/secondary)</li>
</ul></li>
</ul>
<hr />
<h2
id="steamos-3.x-holo-steam-deck-jupiter-pkgbuild-source-code-public-mirror-portal"><a href="https://gitlab.com/evlaV/holo-PKGBUILD"><img align="center" alt="holo-PKGBUILD" src="images/steamos-logo.png" width="32"></a>
<a href="https://gitlab.com/evlaV/holo-PKGBUILD">SteamOS 3.x (holo)</a>
<a href="https://gitlab.com/evlaV/holo-PKGBUILD"><img align="center" alt="holo-PKGBUILD" src="images/steamos-logo-flipped.png" width="32"></a><a href="https://gitlab.com/evlaV/holo-PKGBUILD"><img align="center" alt="portal" src="images/portal-3.png" height="32" width="4"></a><a href="https://gitlab.com/evlaV/jupiter-PKGBUILD"><img align="center" alt="portal" src="images/portal-4.png" height="32" width="4"></a><a href="https://gitlab.com/evlaV/jupiter-PKGBUILD"><img align="center" alt="jupiter-PKGBUILD" src="images/steam-deck-logo-black.png" width="32"></a>
<a href="https://gitlab.com/evlaV/jupiter-PKGBUILD">Steam Deck
(jupiter)</a>
<a href="https://gitlab.com/evlaV/jupiter-PKGBUILD"><img align="center" alt="jupiter-PKGBUILD" src="images/steam-deck-logo-black-flipped.png" width="32"></a>
PKGBUILD (Source Code) Public Mirror 🪞 Portal
<a href="https://gitlab.com/evlaV/holo-PKGBUILD"><img align="center" alt="portal" src="images/portal-5.png" height="32" width="4"></a><a href="https://gitlab.com/evlaV/jupiter-PKGBUILD"><img align="center" alt="portal" src="images/portal-6.png" height="32" width="4"></a></h2>
<div data-align="center">
<a href="https://gitlab.com/evlaV/holo-PKGBUILD"><img alt="holo-PKGBUILD" src="images/steamos-logo.png" width="128"><img alt="mirror" src="images/mirror.png" height="128"><img alt="holo-PKGBUILD" src="images/steamos-logo-flipped.png" width="128"></a><a href="https://gitlab.com/evlaV/holo-PKGBUILD"><img alt="portal" src="images/portal-1.png" height="128" width="6"></a><a href="https://gitlab.com/evlaV/jupiter-PKGBUILD"><img alt="portal" src="images/portal-2.png" height="128" width="6"></a><a href="https://gitlab.com/evlaV/jupiter-PKGBUILD"><img alt="jupiter-PKGBUILD" src="images/steam-deck-logo-black.png" width="128"><img alt="mirror" src="images/mirror.png" height="128"><img alt="jupiter-PKGBUILD" src="images/steam-deck-logo-black-flipped.png" width="128"></a>
</div>
<hr />
<h2
id="valve-official-steamos-3.x-holo-and-steam-deck-jupiter-public-repositories">👍
Valve (Official) SteamOS 3.x (holo) and Steam Deck (jupiter) Public
Repositories 👍</h2>
<p>(Pitiful) Table of Valve’s officially public SteamOS 3.x (holo) and
Steam Deck (jupiter) repositories:</p>
<table>
<colgroup>
<col style="width: 30%" />
<col style="width: 38%" />
<col style="width: 30%" />
</colgroup>
<thead>
<tr class="header">
<th style="text-align: left;">Repository</th>
<th style="text-align: center;">Branch</th>
<th style="text-align: right;">Release Date</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td style="text-align: left;"><a
href="https://gitlab.steamos.cloud/jupiter/wireplumber">wireplumber</a></td>
<td style="text-align: center;">jupiter</td>
<td style="text-align: right;">June 30, 2022</td>
</tr>
<tr class="even">
<td style="text-align: left;"><a
href="https://gitlab.steamos.cloud/devkit/steamos-devkit-service">steamos-devkit-service</a></td>
<td style="text-align: center;">holo* / jupiter</td>
<td style="text-align: right;">March 30, 2022</td>
</tr>
<tr class="odd">
<td style="text-align: left;"><a
href="https://gitlab.steamos.cloud/devkit/steamos-devkit">steamos-devkit-client</a></td>
<td style="text-align: center;">-</td>
<td style="text-align: right;">March 9, 2022</td>
</tr>
<tr class="even">
<td style="text-align: left;"><a
href="https://github.com/valve-project/steam-qt-keyboard-plugin">steam-im-modules</a></td>
<td style="text-align: center;">holo* / jupiter</td>
<td style="text-align: right;">February 23, 2022</td>
</tr>
<tr class="odd">
<td style="text-align: left;"><a
href="https://github.com/ValveSoftware/gamescope">gamescope</a> (<a
href="https://github.com/Plagman/gamescope"><span class="citation"
data-cites="Plagman">@Plagman</span></a>)</td>
<td style="text-align: center;">holo* / jupiter</td>
<td style="text-align: right;">predates SteamOS 3.x / Steam Deck</td>
</tr>
</tbody>
</table>
<p><strong><em>Table contains ONLY software developed (or modified) by
Valve, i.e., excludes unmodified public software.</em></strong></p>
<blockquote>
<p>*Denotes no respective PKGBUILD currently exists (i.e., no dedicated
build/package).</p>
</blockquote>
<hr />
<h2
id="packagesrepositories-valve-collabora-and-igalia-are-in-violation-of-gnu-license">🙅
Packages/Repositories Valve, Collabora, and Igalia are in Violation of
GNU License 👎</h2>
<blockquote>
<p><a href="#gpl-package-research">There are hundreds of missing GPL
packages’ source code</a> - notable examples: <code>pacman</code> and
<code>pacman-mirrorlist</code> - <strong>I believe the latter may have
been intentionally omitted to abscond Valve’s source package location
(<a href="https://en.wikipedia.org/wiki/Smoking_gun">smoking gun</a>
perhaps?)</strong></p>
</blockquote>
<p><a href="https://www.gnu.org/licenses/gpl-violation.html">GPL
Violators</a> (e.g., <a
href="https://www.valvesoftware.com/en/about"><strong>Valve</strong></a>,
<a
href="https://www.collabora.com/about-us/"><strong>Collabora</strong></a>,
and <a href="https://www.igalia.com/about/"><strong>Igalia</strong></a>)
are those who <strong>distribute products based on GPL software without
complying with the license conditions</strong>; such as
<strong>providing the <em>complete</em> source code</strong>, a copy of
the license, and <strong>a (written) offer for source code</strong>.
<strong>GPL violations are considered a form of infringing use of the
software and can be legally pursued by the copyright
holders.</strong></p>
<p>These <a href="https://www.gnu.org/licenses/gpl-violation.html">GPL
Violators</a> (e.g., <a
href="https://www.valvesoftware.com/en/about"><strong>Valve</strong></a>,
<a
href="https://www.collabora.com/about-us/"><strong>Collabora</strong></a>,
and <a href="https://www.igalia.com/about/"><strong>Igalia</strong></a>)
are unfair and disrespectful to the free software community and the
authors of the respective software. They are taking advantage of the
benefits of GPL software without honoring the obligations and the spirit
of the license. They deprive users of their freedom to study, modify,
and share the software. They should be educated about the meaning and
importance of GPL and other free licenses, and be encouraged to adopt
ethical/sound practices for the incorporation of GPL components into
their products. They should also be held accountable for their actions
and be required to remedy their violations by complying with the license
terms or ceasing distribution of the infringing products. They should
additionally be deterred from continuing and/or repeating violations via
public awareness campaigns and legal actions. <strong>I’m endeavoring on
both fronts (public awareness and legal action) to right (and
<em>write</em>) these wrongs.</strong></p>
<p><a
href="https://www.valvesoftware.com/en/about"><strong>Valve</strong></a>,
<a
href="https://www.collabora.com/about-us/"><strong>Collabora</strong></a>,
and <a href="https://www.igalia.com/about/"><strong>Igalia</strong></a>
should respect the GPL and comply with its terms as soon as possible
(it’s been over <strong>18 months</strong> now). They should also
communicate clearly and transparently about their use of GPL software
and their “plans” to adequately release the source code. They should
also collaborate with the free software community and contribute to the
development and improvement of GPL software. A good/healthy start would
be (finally) opening dialogue with me. In case you hadn’t noticed, I’m
quite proficient and have been <strong>doing your job</strong> for over
<strong>18 months</strong> now. It’s about time we had a <strong>real
discussion</strong>. I would greatly appreciate if someone from <a
href="https://www.valvesoftware.com/en/about"><strong>Valve</strong></a>,
<a
href="https://www.collabora.com/about-us/"><strong>Collabora</strong></a>,
and/or <a
href="https://www.igalia.com/about/"><strong>Igalia</strong></a> would
(finally) respond to me and address these grievances.</p>
<p>A very bad trend has been set and the status quo (creatively)
continued regarding 🄯 <a
href="https://en.wikipedia.org/wiki/Copyleft">copyleft</a>. Violations
are frequent, and violators are infrequently held accountable. I
begrudgingly feel copyleft is seen as an <a
href="https://en.wikipedia.org/wiki/Honor_system">honor system</a>, and
you should (realistically) presume all your copyleft projects and
contributions will be interpreted/used with a <a
href="https://en.wikipedia.org/wiki/Permissive_software_license">permissive
license</a>. So you might as well pick a “good/decent” permissive (or <a
href="https://www.mozilla.org/en-US/MPL/2.0/FAQ/">middle ground</a>)
license (since that’s unfortunately the (capitalistic/corporate) world
we live in) or <a href="https://unlicense.org/">release into the public
domain</a>. I’ve personally demonstrated both with this project (<a
href="LICENSE">LICENSE</a>, <a href="UNLICENSE">UNLICENSE</a>, and <a
href="LICENSE.0BSD">0BSD</a>).</p>
<p>I’ve privately informed (and now publicly informed and condemned)
both <a
href="https://www.collabora.com/about-us/"><strong>Collabora</strong></a>
and <a href="https://www.igalia.com/about/"><strong>Igalia</strong></a>
of the following (neither have responded):</p>
<p><code>"There's a conflict of interest working and/or consulting with Valve on this particular project (SteamOS 3.x / Steam Deck)."</code></p>
<p><strong>(March 25, 2023):</strong> The <a
href="https://www.fsf.org/about/">FSF</a> (<code>rms</code>) has
demonstrated the following to me (in the case of Valve) regarding <a
href="https://www.gnu.org/licenses/">defending their GPL</a>:</p>
<p><a href="https://en.wikipedia.org/wiki/Richard_Stallman">rms</a>:</p>
<p><code>"The FSF is short-handed in the legal area. Given how little it could hope to achieve, I tend to think that this would not be an efficient choice of priorities (though I'm not the one who decides nowadays). I don't think I could get a staff person to verify the origin of the copied code in less than months."</code></p>
<p>This interaction has (sadly) not instilled much faith in the FSF (or
the GPL) and only further solidifies my license recommendations above.
Regardless, thank you <code>rms</code>, for your time,
honesty/transparency, inquiries/interest, and recommendation. You’ve
been the most communicative and inquisitive person I’ve interacted with
regarding this. I’m sorry our discussions were centered around this
deplorable injustice.</p>
<p>I’m presently moving forward with the <a
href="https://sfconservancy.org/about/">Software Freedom Conservancy</a>
(with <code>rms</code>’s recommendation/referral). <strong>PROGRESS
PENDING</strong></p>
<p><strong>Come along with me as I foolishly try and take the pulse of a
piece of the corporate software/technology world in 2023 … It will be
fun, they said.</strong></p>
<p>I’m well aware that many people don’t technically fully
comprehend/understand the GPL. This is a far bigger (systemic) issue
than simply Valve, Collabora, and Igalia. I’d argue most people are
ignorant and/or misinformed regarding the GPL. I <strong>highly
recommend</strong> ALL Linux/OSS users/enthusiasts, especially if you
work for a company which may utilize (and also potentially violate) GPL
software, <strong>THOROUGHLY READ THE GPL</strong>. The following is
pretty well documented (shocker) in the GPL (if only people could be
bothered enough to actually read it).</p>
<p>The GPL (GPL2, GPL3, AGPL, and LGPL3) stipulates that sources must
accompany binaries, otherwise a (written) offer for source code (or
equivalent stipulated offer) is required. See GPL2 Section 3, or GPL3
Section 6 for accepted methods of distributing sources. If one or more
of these methods is not followed by Valve, then a GPL violation has
occurred. I presently count <a
href="#third-party-packagesrepositories-valve-collabora-and-igalia-are-in-violation-of-gnu-license"><del>dozens</del></a>
<a href="#gpl-package-research">hundreds</a> of GPL violations which
have been unresolved for over <strong>18 months</strong> now.</p>
<p>See: <a
href="https://www.gnu.org/licenses/gpl-faq.html#WhatDoesWrittenOfferValid">GPL
FAQ</a></p>
<p><em>“If you choose to provide source through a written offer, then
anybody who requests the source from you is entitled to receive
it.”</em></p>
<p><em>“If you commercially distribute binaries not accompanied with
source code, the GPL says you must provide a written offer to distribute
the source code later.”</em></p>
<p>Thank you for taking the time to learn a bit about proper copyleft
(GPL) software distribution. I hope you’ve learned not just to
comprehend/understand the GPL, but to also value and respect the
free/libre license. Could the community do us all a favor and help
inform Valve, Collabora, and Igalia of this fact?</p>
<p>But don’t take my word for it, the following is a excerpt from my
aforementioned discussion with <code>rms</code>:</p>
<p><code>"Selling the computer is distribution of the preinstalled binaries of GPL-covered programs. GPL 2 and GPL 3 (and AGPL also, and LGPL 3) all require making the source available along with the binaries.</code></p>
<p><code>[Section] 6 of GPL 3 states the accepted ways of making the source available.</code></p>
<p><code>If Valve does not do any of those ways, it is violating the GPL."</code></p>
<hr />
<blockquote>
<p><strong>SteamOS 3.x (holo) / Steam Deck (jupiter) Release Date: <a
href="https://www.timeanddate.com/date/durationresult.html?m1=2&amp;d1=25&amp;y1=2022&amp;ti=on">February
25, 2022</a></strong></p>
<p><a
href="https://www.timeanddate.com/date/durationresult.html?m1=2&amp;d1=25&amp;y1=2022&amp;ti=on"><strong>Number
of Days Valve, Collabora, and Igalia are in Violation of GNU License
(i.e., since Steam Deck release)</strong></a></p>
</blockquote>
<p><strong>“If it looks like a duck, swims like a duck, and quacks like
a duck, then it probably is a duck.”</strong></p>
<p><img alt="the cake is a lie." src="images/the-cake-is-a-lie.jpg" width="512"></p>
<p><strong>the cake is a lie.</strong></p>
<p><strong>the cake is a lie.</strong></p>
<p><strong>the cake is a lie.</strong></p>
<p><strong>the cake is a lie.</strong></p>
<p><strong><em>But not this cake! Happy Cake Day Steam Deck! Thank you
Valve for showing the world GNU/Linux is the true home of PC gaming!
Please support <a href="https://www.gnu.org/software/">free
software</a>. (February 25, 2023)</em></strong></p>
<p><img alt="the cake is not a lie." src="images/the-cake-is-not-a-lie.jpg" width="512"></p>
<hr />
<h3
id="third-party-packagesrepositories-valve-collabora-and-igalia-are-in-violation-of-gnu-license">Third
Party Packages/Repositories Valve, Collabora, and Igalia are in
Violation of GNU License</h3>
<p>Table of packages/repositories <strong>Valve, Collabora, and Igalia
are in Violation of respective GNU License(s):</strong></p>
<table>
<colgroup>
<col style="width: 22%" />
<col style="width: 27%" />
<col style="width: 22%" />
<col style="width: 27%" />
</colgroup>
<thead>
<tr class="header">
<th style="text-align: left;">Package/Repository</th>
<th style="text-align: center;">Branch</th>
<th style="text-align: right;">License</th>
<th style="text-align: center;">Reason</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td style="text-align: left;"><a
href="https://gitlab.archlinux.org/archlinux/archlinux-keyring">archlinux-keyring</a></td>
<td style="text-align: center;">holo, jupiter</td>
<td style="text-align: right;"><a
href="https://gitlab.archlinux.org/archlinux/archlinux-keyring/-/blob/master/LICENSE">GPLv3</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="even">
<td style="text-align: left;"><a
href="https://git.kernel.org/pub/scm/bluetooth/bluez.git">bluez</a></td>
<td style="text-align: center;">holo, jupiter</td>
<td style="text-align: right;"><a
href="https://git.kernel.org/pub/scm/bluetooth/bluez.git/tree/COPYING">GPLv2</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="odd">
<td style="text-align: left;"><a
href="https://github.com/intel/bmap-tools">bmap-tools</a></td>
<td style="text-align: center;">holo</td>
<td style="text-align: right;"><a
href="https://github.com/intel/bmap-tools/blob/master/LICENSE">GPLv2</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="even">
<td style="text-align: left;"><a
href="https://github.com/calamares/calamares">calamares</a></td>
<td style="text-align: center;">holo</td>
<td style="text-align: right;"><a
href="https://github.com/calamares/calamares/blob/calamares/LICENSES/GPL-3.0-or-later.txt">GPLv3</a>,
<a
href="https://github.com/calamares/calamares/blob/calamares/LICENSES/LGPL-3.0-or-later.txt">LGPLv3</a>,
<a
href="https://github.com/calamares/calamares/blob/calamares/LICENSES/LGPL-2.1-only.txt">LGPLv2.1</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="odd">
<td style="text-align: left;"><a
href="https://github.com/systemd/casync">casync</a></td>
<td style="text-align: center;">holo</td>
<td style="text-align: right;"><a
href="https://github.com/systemd/casync/blob/main/LICENSE.LGPL2.1">LGPLv2.1</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="even">
<td style="text-align: left;"><a
href="https://salsa.debian.org/installer-team/console-setup">ckbcomp</a></td>
<td style="text-align: center;">holo</td>
<td style="text-align: right;"><a
href="https://salsa.debian.org/installer-team/console-setup/-/blob/master/GPL-2">GPLv2</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="odd">
<td style="text-align: left;"><a
href="https://github.com/dell/dkms">dkms</a></td>
<td style="text-align: center;">holo</td>
<td style="text-align: right;"><a
href="https://github.com/dell/dkms/blob/master/COPYING">GPLv2</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="even">
<td style="text-align: left;"><a
href="https://github.com/AltraMayor/f3">f3</a></td>
<td style="text-align: center;">jupiter</td>
<td style="text-align: right;"><a
href="https://github.com/AltraMayor/f3/blob/master/LICENSE">GPLv3</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="odd">
<td style="text-align: left;"><a
href="https://git.ffmpeg.org/gitweb/ffmpeg">ffmpeg</a></td>
<td style="text-align: center;">holo</td>
<td style="text-align: right;"><a
href="https://git.ffmpeg.org/gitweb/ffmpeg.git/blob/HEAD:/COPYING.GPLv3">GPLv3</a>,
<a
href="https://git.ffmpeg.org/gitweb/ffmpeg.git/blob/HEAD:/COPYING.GPLv2">GPLv2</a>,
<a
href="https://git.ffmpeg.org/gitweb/ffmpeg.git/blob/HEAD:/COPYING.LGPLv3">LGPLv3</a>,
<a
href="https://git.ffmpeg.org/gitweb/ffmpeg.git/blob/HEAD:/COPYING.LGPLv2.1">LGPLv2.1</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="even">
<td style="text-align: left;"><a
href="https://github.com/flatpak/flatpak">flatpak</a></td>
<td style="text-align: center;">jupiter</td>
<td style="text-align: right;"><a
href="https://github.com/flatpak/flatpak/blob/main/COPYING">LGPLv2.1</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="odd">
<td style="text-align: left;"><a
href="https://www.gnu.org/software/grub/">grub</a></td>
<td style="text-align: center;">holo, jupiter</td>
<td style="text-align: right;"><a
href="https://www.gnu.org/licenses/gpl-3.0.txt">GPLv3</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="even">
<td style="text-align: left;"><a
href="https://gitlab.com/evlaV/holo-keyring">holo-keyring</a> (fork of
<a
href="https://gitlab.archlinux.org/archlinux/archlinux-keyring">archlinux-keyring</a>)</td>
<td style="text-align: center;">holo</td>
<td style="text-align: right;"><a
href="https://gitlab.com/evlaV/holo-keyring/-/blob/master/LICENSE">GPLv3</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="odd">
<td style="text-align: left;"><a
href="https://github.com/ibus/ibus-anthy">ibus-anthy</a></td>
<td style="text-align: center;">jupiter</td>
<td style="text-align: right;"><a
href="https://github.com/ibus/ibus-anthy/blob/main/COPYING">GPLv2</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="even">
<td style="text-align: left;"><a
href="https://github.com/mike-fabian/ibus-table-chinese">ibus-table-cangjie-lite</a></td>
<td style="text-align: center;">jupiter</td>
<td style="text-align: right;"><a
href="https://github.com/mike-fabian/ibus-table-chinese/blob/main/COPYING">GPLv3</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="odd">
<td style="text-align: left;"><a
href="https://git.kernel.org/pub/scm/network/wireless/iwd.git">iwd</a></td>
<td style="text-align: center;">holo</td>
<td style="text-align: right;"><a
href="https://git.kernel.org/pub/scm/network/wireless/iwd.git/tree/COPYING">LGPLv2.1</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="even">
<td style="text-align: left;"><a
href="https://invent.kde.org/plasma/kscreen">kscreen</a></td>
<td style="text-align: center;">jupiter</td>
<td style="text-align: right;"><a
href="https://invent.kde.org/plasma/kscreen/-/blob/master/LICENSES/GPL-3.0-only.txt">GPLv3</a>,
<a
href="https://invent.kde.org/plasma/kscreen/-/blob/master/LICENSES/GPL-2.0-or-later.txt">GPLv2</a>,
<a
href="https://invent.kde.org/plasma/kscreen/-/blob/master/LICENSES/LGPL-2.0-or-later.txt">LGPLv2</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="odd">
<td style="text-align: left;"><a
href="https://git.kernel.org/pub/scm/utils/kernel/kmod/kmod.git">kmod</a></td>
<td style="text-align: center;">holo</td>
<td style="text-align: right;"><a
href="https://git.kernel.org/pub/scm/utils/kernel/kmod/kmod.git/tree/COPYING">LGPLv2.1</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="even">
<td style="text-align: left;"><a
href="https://gitlab.com/evlaV/kupdate-notifier">kupdate-notifier</a></td>
<td style="text-align: center;">holo</td>
<td style="text-align: right;"><a
href="https://gitlab.com/evlaV/kupdate-notifier/-/blob/master/LICENSE">LGPLv2.1</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="odd">
<td style="text-align: left;"><a
href="https://github.com/alsa-project/alsa-lib">lib32-alsa-lib</a></td>
<td style="text-align: center;">jupiter</td>
<td style="text-align: right;"><a
href="https://github.com/alsa-project/alsa-lib/blob/master/COPYING">LGPLv2.1</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="even">
<td style="text-align: left;"><a
href="https://gitlab.freedesktop.org/NetworkManager/NetworkManager">lib32-libnm</a></td>
<td style="text-align: center;">jupiter</td>
<td style="text-align: right;"><a
href="https://gitlab.freedesktop.org/NetworkManager/NetworkManager/-/blob/main/COPYING">GPLv3</a>,
<a
href="https://gitlab.freedesktop.org/NetworkManager/NetworkManager/-/blob/main/COPYING.LGPL">LGPLv2.1</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="odd">
<td style="text-align: left;"><a
href="https://github.com/DisplayLink/evdi">libevdi</a></td>
<td style="text-align: center;">jupiter</td>
<td style="text-align: right;"><a
href="https://github.com/DisplayLink/evdi/blob/devel/module/LICENSE">GPLv2</a>,
<a
href="https://github.com/DisplayLink/evdi/blob/devel/library/LICENSE">LGPLv2.1</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="even">
<td style="text-align: left;"><a
href="https://github.com/besser82/libxcrypt">libxcrypt-compat</a></td>
<td style="text-align: center;">holo</td>
<td style="text-align: right;"><a
href="https://github.com/besser82/libxcrypt/blob/develop/COPYING.LIB">LGPLv2.1</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="odd">
<td style="text-align: left;"><a
href="https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git">linux</a></td>
<td style="text-align: center;">holo</td>
<td style="text-align: right;"><a
href="https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/LICENSES/preferred/GPL-2.0">GPLv2</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="even">
<td style="text-align: left;"><a
href="https://git.kernel.org/pub/scm/linux/kernel/git/firmware/linux-firmware.git">linux-firmware-neptune</a></td>
<td style="text-align: center;">jupiter</td>
<td style="text-align: right;"><a
href="https://git.kernel.org/pub/scm/linux/kernel/git/firmware/linux-firmware.git/tree/GPL-3">GPLv3</a>,
<a
href="https://git.kernel.org/pub/scm/linux/kernel/git/firmware/linux-firmware.git/tree/GPL-2">GPLv2</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="odd">
<td style="text-align: left;"><a
href="https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git">linux-lts</a></td>
<td style="text-align: center;">holo</td>
<td style="text-align: right;"><a
href="https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/LICENSES/preferred/GPL-2.0">GPLv2</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="even">
<td style="text-align: left;"><a
href="https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git">linux-neptune-61</a></td>
<td style="text-align: center;">jupiter</td>
<td style="text-align: right;"><a
href="https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/LICENSES/preferred/GPL-2.0">GPLv2</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="odd">
<td style="text-align: left;"><a
href="https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git">linux-neptune-60</a></td>
<td style="text-align: center;">jupiter</td>
<td style="text-align: right;"><a
href="https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/LICENSES/preferred/GPL-2.0">GPLv2</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="even">
<td style="text-align: left;"><a
href="https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git">linux-neptune</a></td>
<td style="text-align: center;">jupiter</td>
<td style="text-align: right;"><a
href="https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/LICENSES/preferred/GPL-2.0">GPLv2</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="odd">
<td style="text-align: left;"><a
href="https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git">linux-neptune-rtw</a></td>
<td style="text-align: center;">jupiter</td>
<td style="text-align: right;"><a
href="https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/LICENSES/preferred/GPL-2.0">GPLv2</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="even">
<td style="text-align: left;"><a
href="https://github.com/makedumpfile/makedumpfile">makedumpfile</a></td>
<td style="text-align: center;">holo</td>
<td style="text-align: right;"><a
href="https://github.com/makedumpfile/makedumpfile/blob/master/COPYING">GPLv2</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="odd">
<td style="text-align: left;"><a
href="https://gitlab.freedesktop.org/NetworkManager/NetworkManager">networkmanager</a></td>
<td style="text-align: center;">jupiter</td>
<td style="text-align: right;"><a
href="https://gitlab.freedesktop.org/NetworkManager/NetworkManager/-/blob/main/COPYING">GPLv3</a>,
<a
href="https://gitlab.freedesktop.org/NetworkManager/NetworkManager/-/blob/main/COPYING.LGPL">LGPLv2.1</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="even">
<td style="text-align: left;"><a
href="https://github.com/werman/noise-suppression-for-voice">noise-suppression-for-voice</a></td>
<td style="text-align: center;">holo</td>
<td style="text-align: right;"><a
href="https://github.com/werman/noise-suppression-for-voice/blob/master/LICENSE">GPLv3</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="odd">
<td style="text-align: left;"><a
href="https://github.com/gportay/pacman-system-update">pacman-system-update</a></td>
<td style="text-align: center;">holo</td>
<td style="text-align: right;"><a
href="https://github.com/gportay/pacman-system-update/blob/master/LICENSE">LGPLv2.1</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="even">
<td style="text-align: left;"><a
href="https://github.com/Morganamilo/paru">paru</a></td>
<td style="text-align: center;">holo</td>
<td style="text-align: right;"><a
href="https://github.com/Morganamilo/paru/blob/master/LICENSE">GPLv3</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="odd">
<td style="text-align: left;"><a
href="https://gitlab.freedesktop.org/pipewire/pipewire">pipewire</a></td>
<td style="text-align: center;">holo</td>
<td style="text-align: right;"><a
href="https://gitlab.freedesktop.org/pipewire/pipewire/-/blob/master/LICENSE">GPLv2</a>,
<a
href="https://gitlab.freedesktop.org/pipewire/pipewire/-/blob/master/LICENSE">LGPL</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="even">
<td style="text-align: left;"><a
href="https://invent.kde.org/plasma/plasma-nm">plasma-nm</a></td>
<td style="text-align: center;">jupiter</td>
<td style="text-align: right;"><a
href="https://invent.kde.org/plasma/plasma-nm/-/blob/master/LICENSES/GPL-3.0-only.txt">GPLv3</a>,
<a
href="https://invent.kde.org/plasma/plasma-nm/-/blob/master/LICENSES/GPL-2.0-or-later.txt">GPLv2</a>,
<a
href="https://invent.kde.org/plasma/plasma-nm/-/blob/master/LICENSES/LGPL-3.0-only.txt">LGPLv3</a>,
<a
href="https://invent.kde.org/plasma/plasma-nm/-/blob/master/LICENSES/LGPL-2.1-only.txt">LGPLv2.1</a>,
<a
href="https://invent.kde.org/plasma/plasma-nm/-/blob/master/LICENSES/LGPL-2.0-or-later.txt">LGPLv2</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="odd">
<td style="text-align: left;"><a
href="https://invent.kde.org/plasma-bigscreen/plasma-remotecontrollers">plasma-remotecontrollers</a></td>
<td style="text-align: center;">jupiter</td>
<td style="text-align: right;"><a
href="https://invent.kde.org/plasma-bigscreen/plasma-remotecontrollers/-/blob/master/LICENSES/GPL-3.0-only.txt">GPLv3</a>,
<a
href="https://invent.kde.org/plasma-bigscreen/plasma-remotecontrollers/-/blob/master/LICENSES/GPL-2.0-only.txt">GPLv2</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="even">
<td style="text-align: left;"><a
href="https://invent.kde.org/plasma/plasma-workspace">plasma-workspace</a></td>
<td style="text-align: center;">jupiter</td>
<td style="text-align: right;"><a
href="https://invent.kde.org/plasma/plasma-workspace/-/blob/master/LICENSES/GPL-3.0-only.txt">GPLv3</a>,
<a
href="https://invent.kde.org/plasma/plasma-workspace/-/blob/master/LICENSES/GPL-2.0-or-later.txt">GPLv2</a>,
<a
href="https://invent.kde.org/plasma/plasma-workspace/-/blob/master/LICENSES/LGPL-3.0-or-later.txt">LGPLv3</a>,
<a
href="https://invent.kde.org/plasma/plasma-workspace/-/blob/master/LICENSES/LGPL-2.1-or-later.txt">LGPLv2.1</a>,
<a
href="https://invent.kde.org/plasma/plasma-workspace/-/blob/master/LICENSES/LGPL-2.0-or-later.txt">LGPLv2</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="odd">
<td style="text-align: left;"><a
href="https://gitlab.freedesktop.org/plymouth/plymouth">plymouth</a></td>
<td style="text-align: center;">holo</td>
<td style="text-align: right;"><a
href="https://gitlab.freedesktop.org/plymouth/plymouth/-/blob/main/COPYING">GPLv2</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="even">
<td style="text-align: left;"><a
href="https://github.com/pyzy/pyzy">pyzy</a></td>
<td style="text-align: center;">holo</td>
<td style="text-align: right;"><a
href="https://github.com/pyzy/pyzy/blob/master/COPYING">LGPLv2.1</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="odd">
<td style="text-align: left;"><a
href="https://github.com/rauc/rauc">rauc</a></td>
<td style="text-align: center;">holo</td>
<td style="text-align: right;"><a
href="https://github.com/rauc/rauc/blob/master/COPYING">LGPLv2.1</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="even">
<td style="text-align: left;"><a
href="https://gitlab.com/evlaV/jupiter-PKGBUILD/-/tree/master/rtl88x2ce-dkms">rtl88x2ce-dkms</a></td>
<td style="text-align: center;">jupiter</td>
<td style="text-align: right;">GPLv?</td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="odd">
<td style="text-align: left;"><a
href="https://github.com/sddm/sddm">sddm-wayland</a></td>
<td style="text-align: center;">jupiter</td>
<td style="text-align: right;"><a
href="https://github.com/sddm/sddm/blob/develop/LICENSE">GPLv2</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="even">
<td style="text-align: left;"><a
href="https://gitlab.com/evlaV/steamos-efi">steamos-efi</a> (fork of
gnu-efi)</td>
<td style="text-align: center;">holo, jupiter</td>
<td style="text-align: right;"><a
href="https://gitlab.com/evlaV/steamos-efi/-/blob/master/COPYING">GPLv2</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="odd">
<td style="text-align: left;"><a
href="https://github.com/storaged-project/udisks">udisks2</a></td>
<td style="text-align: center;">jupiter</td>
<td style="text-align: right;"><a
href="https://github.com/storaged-project/udisks/blob/master/COPYING">GPLv2</a>,
<a
href="https://github.com/storaged-project/udisks/blob/master/COPYING">LGPLv2</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="even">
<td style="text-align: left;"><a
href="https://gitlab.freedesktop.org/upower/upower">upower</a></td>
<td style="text-align: center;">jupiter</td>
<td style="text-align: right;"><a
href="https://gitlab.freedesktop.org/upower/upower/-/blob/master/COPYING">GPLv2</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="odd">
<td style="text-align: left;"><a
href="https://github.com/vkmark/vkmark">vkmark</a></td>
<td style="text-align: center;">holo</td>
<td style="text-align: right;"><a
href="https://github.com/vkmark/vkmark/blob/master/COPYING-LGPL2.1">LGPLv2.1</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="even">
<td style="text-align: left;"><a
href="https://github.com/flatpak/xdg-desktop-portal">xdg-desktop-portal</a></td>
<td style="text-align: center;">jupiter</td>
<td style="text-align: right;"><a
href="https://github.com/flatpak/xdg-desktop-portal/blob/main/COPYING">LGPLv2.1</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="odd">
<td style="text-align: left;"><a
href="https://github.com/medusalix/xone">xone-dkms</a></td>
<td style="text-align: center;">holo</td>
<td style="text-align: right;"><a
href="https://github.com/medusalix/xone/blob/master/LICENSE">GPLv2</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="even">
<td style="text-align: left;"><a
href="https://github.com/medusalix/xow">xow</a></td>
<td style="text-align: center;">holo</td>
<td style="text-align: right;"><a
href="https://github.com/medusalix/xow/blob/master/LICENSE">GPLv2</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="odd">
<td style="text-align: left;"><a
href="https://gitlab.gnome.org/GNOME/zenity">zenity-light</a></td>
<td style="text-align: center;">jupiter</td>
<td style="text-align: right;"><a
href="https://gitlab.gnome.org/GNOME/zenity/-/blob/master/COPYING">LGPLv2.1</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
</tbody>
</table>
<h3
id="firstsecond-party-valve-collabora-and-igalia-packagesrepositories-in-violation-of-gnu-license">First/Second
Party (Valve, Collabora, and Igalia) Packages/Repositories in Violation
of GNU License</h3>
<table>
<colgroup>
<col style="width: 22%" />
<col style="width: 27%" />
<col style="width: 22%" />
<col style="width: 27%" />
</colgroup>
<thead>
<tr class="header">
<th style="text-align: left;">Package/Repository</th>
<th style="text-align: center;">Branch</th>
<th style="text-align: right;">License</th>
<th style="text-align: center;">Reason</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td style="text-align: left;"><a
href="https://gitlab.com/evlaV/kdump-steamos">kdump-steamos</a></td>
<td style="text-align: center;">holo</td>
<td style="text-align: right;"><a
href="https://gitlab.com/evlaV/kdump-steamos/-/blob/main/README.md">LGPLv2.1</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="even">
<td style="text-align: left;"><a
href="https://gitlab.com/evlaV/steamdeck-kde-presets">steamdeck-kde-presets</a></td>
<td style="text-align: center;">jupiter</td>
<td style="text-align: right;"><a
href="https://www.gnu.org/licenses/old-licenses/gpl-2.0.txt">GPLv2</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="odd">
<td style="text-align: left;"><a
href="https://gitlab.com/evlaV/steamos-atomupd">steamos-atomupd-client</a></td>
<td style="text-align: center;">holo</td>
<td style="text-align: right;"><a
href="https://gitlab.com/evlaV/steamos-atomupd/-/blob/master/COPYING">LGPLv2</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="even">
<td style="text-align: left;"><a
href="https://gitlab.com/evlaV/steamos-customizations">steamos-customizations</a></td>
<td style="text-align: center;">holo</td>
<td style="text-align: right;"><a
href="https://gitlab.com/evlaV/steamos-customizations/-/blob/master/COPYING.LGPL-2.1">LGPLv2.1</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="odd">
<td style="text-align: left;"><a
href="https://gitlab.com/evlaV/steamos-customizations">steamos-customizations-jupiter</a></td>
<td style="text-align: center;">jupiter</td>
<td style="text-align: right;"><a
href="https://gitlab.com/evlaV/steamos-customizations/-/blob/master/COPYING.LGPL-2.1">LGPLv2.1</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="even">
<td style="text-align: left;"><a
href="https://gitlab.com/evlaV/steamos-media-creation">steamos-media-creation</a></td>
<td style="text-align: center;">holo</td>
<td style="text-align: right;"><a
href="https://www.gnu.org/licenses/old-licenses/lgpl-2.1.txt">LGPLv2.1</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="odd">
<td style="text-align: left;"><a
href="https://gitlab.com/evlaV/holo-PKGBUILD/-/tree/master/steamos-netrc">steamos-netrc</a></td>
<td style="text-align: center;">holo</td>
<td style="text-align: right;">GPLv?</td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="even">
<td style="text-align: left;"><a
href="https://gitlab.com/evlaV/steamos-repair-backend">steamos-repair-backend</a></td>
<td style="text-align: center;">holo</td>
<td style="text-align: right;"><a
href="https://gitlab.com/evlaV/steamos-repair-backend/-/blob/main/COPYING">GPLv2</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
<tr class="odd">
<td style="text-align: left;"><a
href="https://gitlab.com/evlaV/steamos-repair-tool">steamos-repair-tool</a></td>
<td style="text-align: center;">holo</td>
<td style="text-align: right;"><a
href="https://gitlab.com/evlaV/steamos-repair-tool/-/blob/master/COPYING">GPLv2</a></td>
<td style="text-align: center;"><strong>obfuscated</strong> source
code*</td>
</tr>
</tbody>
</table>
<p>*<strong>obfuscated</strong> by one or both of the following:</p>
<ol type="1">
<li><del><strong>no (written) offer for source code</strong> - no
official documentation or link(s) to source code (i.e., officially
undocumented) - e.g., <a
href="https://www.oracle.com/downloads/opensource/software-components-source-code.html">Oracle</a>
and <a href="https://doc.dl.playstation.net/doc/ps5-oss/index.html">Sony
PS5</a></del> <strong>(September 21, 2023)</strong></li>
<li>source code requires (officially undocumented) user
alteration/modification/deobfuscation to be
accessible/legible/usable/buildable (i.e., obfuscated) - see: <a
href="#manually-deobfuscate-source-package">Manually Deobfuscate Source
Package</a></li>
<li>official (unmodified) PKGBUILD sources from / depends on <a
href="https://gitlab.steamos.cloud/">Valve’s official private GitLab
repositories</a> (i.e., unbuildable); PKGBUILD provided here are
modified to source from / depend on <a
href="https://gitlab.com/evlaV">these unofficial public mirrors</a>
(i.e., buildable)</li>
</ol>
<p><a href="https://gitlab.com/users/evlaV/projects"><strong>These
public mirrors (<span class="citation"
data-cites="gitlab.com/evlaV">@gitlab.com/evlaV</span>)</strong></a> aim
to (unofficially) correct these violations.</p>
<p>*<strong>missing</strong> source code:</p>
<ul>
<li>see: <a href="#gpl-package-research">GPL Package Research</a></li>
</ul>
<hr />
<p><strong>(September 21, 2023):</strong> The following notice/offer was
(finally) added <a
href="https://www.timeanddate.com/date/durationresult.html?m1=2&amp;d1=25&amp;y1=2022&amp;m2=9&amp;d2=21&amp;y2=2023&amp;ti=on">574
days after Steam Deck release</a> to SteamOS (<strong>Steam Version
1695334486</strong>):</p>
<blockquote>
<p><strong>This was done purely in response to some back-and-forth
between the <a href="https://sfconservancy.org/about/">Software Freedom
Conservancy</a> and <a href="mailto:liaml@valvesoftware.com">Valve’s
general/chief counsel (CLO) Liam Lavery</a></strong></p>
</blockquote>
<p><img alt="SteamOS Notice" src="images/steamos-notice-1.jpg" width="400"></p>
<p><img alt="SteamOS Notice" src="images/steamos-notice-2.jpg" width="400"></p>
<blockquote>
<p><em>Excuse me, I’m a bit of a stickler [Meeseeks], but <strong>Valve,
go home, you’re drunk</strong>; your operating system is <a
href="https://repo.steampowered.com/steamos/README.txt">officially
titled</a> <strong>SteamOS</strong>, not <strong>Steam
OS</strong></em></p>
</blockquote>
<hr />
<h3 id="manually-deobfuscate-source-package">Manually Deobfuscate Source
Package</h3>
<table>
<colgroup>
<col style="width: 50%" />
<col style="width: 50%" />
</colgroup>
<thead>
<tr class="header">
<th style="text-align: left;">Path</th>
<th style="text-align: left;">Description</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td style="text-align: left;"><code>$pkgname_dir_1</code>/</td>
<td style="text-align: left;">Main package directory</td>
</tr>
<tr class="even">
<td style="text-align: left;">|__.SRCINFO</td>
<td style="text-align: left;">Arch Linux AUR package metadata</td>
</tr>
<tr class="odd">
<td style="text-align: left;">|__PKGBUILD</td>
<td style="text-align: left;">Arch Linux package</td>
</tr>
<tr class="even">
<td
style="text-align: left;">|__<strong><code>$pkgname_dir_2</code>/</strong></td>
<td style="text-align: left;"><strong>Obfuscated package git</strong>
(directory name (<code>$pkgname_dir_2</code>) may be <strong>identical
to</strong> or <strong>differ from</strong> (i.e., a derivative of)
<strong>main package directory</strong> name
(<code>$pkgname_dir_1</code>))</td>
</tr>
</tbody>
</table>
<div class="sourceCode" id="cb22"><pre
class="sourceCode sh"><code class="sourceCode bash"><span id="cb22-1"><a href="#cb22-1" aria-hidden="true" tabindex="-1"></a><span class="co"># (at your discretion) proceed to download and extract respective source package to current working directory ($PWD) (e.g., zenity-light)</span></span>
<span id="cb22-2"><a href="#cb22-2" aria-hidden="true" tabindex="-1"></a><span class="ex">curl</span> https://steamdeck-packages.steamos.cloud/archlinux-mirror/sources/jupiter-main/zenity-light-3.32.0%2B55%2Bgd7bedff6-1.src.tar.gz <span class="kw">|</span> <span class="ex">bsdtar</span> <span class="at">-xvf-</span></span>
<span id="cb22-3"><a href="#cb22-3" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb22-4"><a href="#cb22-4" aria-hidden="true" tabindex="-1"></a><span class="co"># respective package directory name(s) (e.g., zenity-light and zenity)</span></span>
<span id="cb22-5"><a href="#cb22-5" aria-hidden="true" tabindex="-1"></a><span class="va">pkgname_dir_1</span><span class="op">=</span>zenity-light</span>
<span id="cb22-6"><a href="#cb22-6" aria-hidden="true" tabindex="-1"></a><span class="va">pkgname_dir_2</span><span class="op">=</span>zenity</span>
<span id="cb22-7"><a href="#cb22-7" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb22-8"><a href="#cb22-8" aria-hidden="true" tabindex="-1"></a><span class="co"># deobfuscate</span></span>
<span id="cb22-9"><a href="#cb22-9" aria-hidden="true" tabindex="-1"></a><span class="bu">cd</span> <span class="st">&quot;</span><span class="va">$pkgname_dir_1</span><span class="st">/</span><span class="va">$pkgname_dir_2</span><span class="st">&quot;</span></span>
<span id="cb22-10"><a href="#cb22-10" aria-hidden="true" tabindex="-1"></a><span class="fu">mkdir</span> <span class="at">-p</span> <span class="st">&quot;.git/&quot;</span></span>
<span id="cb22-11"><a href="#cb22-11" aria-hidden="true" tabindex="-1"></a><span class="fu">mv</span> <span class="pp">*</span> <span class="st">&quot;.git/&quot;</span></span>
<span id="cb22-12"><a href="#cb22-12" aria-hidden="true" tabindex="-1"></a><span class="fu">git</span> init</span>
<span id="cb22-13"><a href="#cb22-13" aria-hidden="true" tabindex="-1"></a><span class="fu">git</span> checkout <span class="at">-f</span></span></code></pre></div>
<hr />
<h3 id="gpl-package-research">GPL Package Research</h3>
<p><a
href="https://store.steampowered.com/steamos/download/?ver=steamdeck">Latest
Steam Deck (jupiter) Recovery Image (“SteamOS Deck Image”)</a></p>
<p><a href="https://steamdeck-images.steamos.cloud/recovery/">Steam Deck
(jupiter) Recovery Download Directory</a></p>
<hr />
<p><strong>(February 28, 2022):</strong> There were <a
href="research/steam-deck-recovery-1-package-info.txt">542 GPL packages
of 871 total packages (62.227%)</a> distributed in <a
href="https://steamdeck-images.steamos.cloud/recovery/steamdeck-recovery-1.img.bz2">Steam
Deck Recovery Image 1</a> (“SteamOS Deck Image”) (<a
href="https://steamdeck-images.steamos.cloud/recovery/steamdeck-recovery-1.img.zip">zip</a>)</p>
<blockquote>
<p>b2sum:
<code>30453a4edab260d6a7af7c74b6287f6361e86d19e4d6d3b45a14c620d0bf2540ac3f281b5947e9541844db41c79681b18156e7db96a9ce95a23e52ba6409e2c9 steamdeck-recovery-1.img.bz2</code></p>
</blockquote>
<hr />
<p><strong>(May 15, 2022):</strong> There were <a
href="research/steam-deck-recovery-4-package-info.txt">543 GPL packages
of 871 total packages (62.342%)</a> distributed in <a
href="https://steamdeck-images.steamos.cloud/recovery/steamdeck-recovery-4.img.bz2">Steam
Deck Recovery Image 4</a> (“SteamOS Deck Image”) (<a
href="https://steamdeck-images.steamos.cloud/recovery/steamdeck-recovery-4.img.zip">zip</a>)</p>
<blockquote>
<p>b2sum:
<code>ab806fb2374db4135b1a706425c81d367aeeb8508b4417ba652438e52772b88462f029a257f193d6827df8e526bbad9b10c532ef1a437b7393312e5fd4ad9c0e steamdeck-recovery-4.img.bz2</code></p>
</blockquote>
<hr />
<p><strong>(as of June 17, 2023):</strong> There were <a
href="research/steam-deck-jupiter-main-package-info-20230617.txt">593
GPL packages of 944 total packages (62.817%)</a> distributed in Steam
Deck (jupiter) main (jupiter-main)</p>
<p><strong>(as of September 21, 2023):</strong> There were <a
href="research/steam-deck-jupiter-main-package-info.txt">595 GPL
packages of 971 total packages (61.277%)</a> distributed in Steam Deck
(jupiter) main (jupiter-main)</p>
<hr />
<p><em>Thank you <a
href="https://www.valvesoftware.com/en/about"><strong>Valve</strong></a>,
<a
href="https://www.collabora.com/about-us/"><strong>Collabora</strong></a>,
and <a
href="https://www.igalia.com/about/"><strong>Igalia</strong></a></em>;
<em>I know how truly <strong>difficult</strong> and
<strong>lengthy/time-consuming</strong> GitLab repository publication
can be</em>; <a href="#-gitlab-repository-private-public-how-to-">the
following how-to</a> was made specifically for you:</p>
<h2 id="gitlab-repository-private-public-how-to">😉 GitLab Repository
Private-Public How-to 😂</h2>
<p>The following must be conducted per <a
href="https://gitlab.steamos.cloud/">GitLab repository</a>:</p>
<ol type="1">
<li>Left click <code>Settings</code> or mouseover <code>Settings</code>
then left click <code>General</code>
(<code>Settings &gt; General</code>)</li>
<li>Expand <code>Visibility, project features, permissions</code> (left
click <code>Expand</code>)</li>
<li>Change <code>Project visibility</code> dropdown menu option from
<code>Private</code> to <code>Public</code> (left click
<code>Private</code> then left click <code>Public</code>)</li>
<li>Left click <code>Save changes</code></li>
</ol>
<p>Here’s a visual example using <code>jupiter-hw-support</code>:</p>
<p><img alt="GitLab Private-Public How-to" src="images/gitlab-private-public-how-to.gif" width="512"></p>
<p>Maybe <a
href="https://www.valvesoftware.com/en/about"><strong>Valve</strong></a>,
<a
href="https://www.collabora.com/about-us/"><strong>Collabora</strong></a>,
and <a href="https://www.igalia.com/about/"><strong>Igalia</strong></a>
will perform this <em>daunting</em> task in <del>2022</del> 2023 (?)
🤞</p>
<h2 id="thoughtsopinions">💭 Thoughts/Opinions 💡</h2>
<p>Valve has commercialized a product (SteamOS 3.x / Steam Deck) which
almost exclusively relies on and utilizes (free/libre) open source
software. Software myself and countless others have contributed to for
decades. Valve has capitalized/profited immensely from (free/libre) open
source software, and in turn has not been very friendly to the
(free/libre) open source software community. This is why (in protest) I
set up these public mirrors on April 1, 2022. <strong>I chose April
Fools’ Day as a nod to the foolishness of Valve regarding
publication.</strong></p>
<p>Valve likes to distance themselves from proprietary technology
companies (e.g., Microsoft Windows) but Valve SteamOS isn’t much
different; SteamOS is a privately developed OS, with proprietary
software and DRM (Steam) front and center, consisting of mostly public
sources (<a href="#gpl-package-research">the majority of which are
GPL</a>). The Steam Deck additionally contains proprietary hardware,
which includes additional proprietary software (this is also true for
the <a href="https://www.steamdeck.com/en/dock">Steam Deck Docking
Station</a>). This can thankfully be (mostly) alleviated/liberated by <a
href="https://gitlab.com/open-sd/opensd">OpenSD</a> (thank you <a
href="https://gitlab.com/seek-dev"><span class="citation"
data-cites="seek-dev">@seek-dev</span></a>).</p>
<p>Paired with Valve’s deliberate privatization of their GitLab
repositories and poor interactions regarding publication (over
<strong>18 months</strong> later) makes it comparatively easy to
recommend the <a
href="https://rog.asus.com/gaming-handhelds/rog-ally/rog-ally-2023/">ASUS
ROG Ally</a> (June 13, 2023). Who doesn’t love a global launch?
Moreover, the similar nature of <a
href="https://www.theverge.com/2023/4/1/23666084/asus-rog-ally-handheld-windows-gaming-portable">publication
date</a> (April Fools’ Day). And like the Steam Deck, you’re free to
install <strong>YOUR CHOICE of OS</strong> (or use pre-installed Windows
11). Microsoft Windows and Valve SteamOS are pretty comparable to me,
though I’d argue Windows 11 behaves as expected outside of gaming
(desktop use). SteamOS 3.x / Steam Deck does not behave or perform
anything like Arch / GNU/Linux. It’s tragic knowing some people’s
first/early interactions with GNU/Linux will be via SteamOS. What a
terrible/inaccurate representation of GNU/Linux (to say the least).
Regardless, I’d recommend the same for both (Steam Deck and ROG Ally):
take advantage of the hardware and install something (anything)
else.</p>
<p>I’d advocate the openness of Valve and the Steam Deck, but I
unfortunately cannot attest to that. SteamOS 3.x is a terrible (and I
honestly think worthy of the title “worst”) distribution of Linux (e.g.,
SteamOS 3.x doesn’t comply with <a
href="https://archlinux.org/about/">Arch Linux</a> or <a
href="https://www.gnu.org/philosophy/philosophy.html">GNU/Linux</a>
philosophies), with Steam (proprietary and <a
href="https://en.wikipedia.org/wiki/Digital_rights_management">DRM</a>)
front and center, all else is secondary (or nonexistent); this
unfortunately includes the (free/libre) open source software community,
who are the very foundation which SteamOS is built upon. Look at the
polarity between SteamOS 3.x / Steam Deck Gaming mode versus Desktop
(and Recovery) mode to see where Valve’s focus lies. The majority of
Steam Deck updates enhance Steam / Gaming mode. ‘Switch to Desktop’ is
the bottom/last Power option (excluding ‘Cancel’). ‘Return to Gaming
Mode’ (the mode the system (always) boots to) is the first (primary)
Desktop option. SteamOS 3.x / Steam Deck is buttery smooth and pleasant
in Steam / Gaming mode, compared to rough/painful (to say the least) in
Desktop mode.</p>
<p>To say a bit more, SteamOS is rather easy to <a
href="https://en.wikipedia.org/wiki/Brick_(electronics)#Soft_brick">soft
brick</a> (I’ve soft bricked SteamOS more times than I’d like to admit).
SteamOS (jupiter) lacks a C/C++ compiler (e.g., GCC / glibc or Clang),
doesn’t have a very expansive/functional instance of Python (e.g., no
Python package / pip support), can’t traditionally install
packages/software or retain modifications, and has a wonky bootloader
(e.g., dual booting). Dual booting can beautifully be resolved by <a
href="https://github.com/ryanrudolfoba/SteamDeck-Clover-Dualboot">SteamDeck-Clover-Dualboot</a>
(thank you <a href="https://github.com/ryanrudolfoba"><span
class="citation"
data-cites="ryanrudolfoba">@ryanrudolfoba</span></a>).</p>
<p>It’s apparent Valve doesn’t expect (or prioritize) the use of Desktop
mode. A huge and completely missed opportunity for Valve, SteamOS, Steam
Deck, GNU/Linux, and the entire community. I think GNOME would be a much
better desktop environment, especially for touch screen devices like the
Steam Deck (or any portable for that matter), but I believe Valve chose
KDE due to their <a
href="https://www.phoronix.com/news/Valve-Funding-KWin-Work">special
(financial) interests</a>. So the Steam Deck and the community suffer
only to “justify” Valve’s investments in KDE development. Money talks.
Why not embrace the many nuances of Arch / GNU/Linux (and its users) and
enable the use of any (Arch supported) desktop environment?</p>
<p>Many of Valve’s commercial/hardware projects/products fail (e.g.,
SteamOS 1 and 2, Steam Link, and Steam Controller); the truly sad thing
is Valve’s ideas are generally good (on paper), but (as Valve has
repeatedly demonstrated) are extremely poorly managed and executed by
uncoordinated, unmotivated, ignorant, incompetent, and
<strong>unethical</strong> people. I believe this is a side effect of
Valve’s <a
href="https://www.theguardian.com/commentisfree/2018/jul/30/no-bosses-managers-flat-hierachy-workplace-tech-hollywood">‘flat
hierarchy’ facade</a>. I predict SteamOS 3.x will have many of the same
issues (and more) SteamOS 1 and 2 had. This is further compounded by
Valve following/projecting a similar canonical/conventional (milestone)
ideology (from Debian) to Arch. <strong>This concept/implementation is
deeply flawed, incompatible, and conflicts with Arch’s bleeding edge
rolling release! Asinine!</strong></p>
<p><strong>SteamOS is technically Linux; oriented to directly benefit
Valve (primarily/solely promoting itself (Steam) and DRM); Valve is very
much like any other corporation who markets
proprietary/non-free/closed-source software/OS (e.g., Apple macOS and
Microsoft Windows). SteamOS possesses none of the <a
href="https://www.gnu.org/philosophy/philosophy.html">philosophy of
GNU</a>. And deserves a proper (up-to-date) <a
href="https://www.gnu.org/distros/common-distros.html">GNU
unendorsement</a>.</strong></p>
<p>Valve clearly aren’t interested in public access to their code or
contributions. I’m honestly questioning if Valve will ever publicize
their GitLab repositories or open SteamOS development to the public
(contributions and issues). I’ll likely be maintaining these public
mirrors for the foreseeable future…</p>
<p>This is not ideal, as I (an unaffiliated third party) should not be
trusted to host Valve’s entire SteamOS 3.x / Steam Deck <a
href="https://en.wikipedia.org/wiki/Codebase">codebase</a>. I haven’t
made any alterations, except (when necessary) pointing to <a
href="https://gitlab.com/evlaV">these unofficial public mirrors</a>
instead of <a href="https://gitlab.steamos.cloud/">Valve’s official
private GitLab repositories</a>. Users of these unofficial public
mirrors have to trust me, and there isn’t an easy or intuitive way to
verify the code on these public mirrors hasn’t been tampered with
(because Valve’s official GitLab repositories are still private). With
skepticism, I hope these public mirrors serve as the de facto place to
source, verify, and follow official SteamOS 3.x / Steam Deck
software/updates.</p>
<p>I’ve graciously done Valve’s (“last mile”) source code distribution
job/work duty (free of charge) for over <strong>18 months</strong> now,
and will continue to do so for the foreseeable future, hopefully filling
the void left from Valve. Through this void filling effort, I’ve
interacted with several developers of projects who have benefited from
these public mirrors. From individual/add-on projects like <a
href="https://gitlab.com/popsulfr/steamos-btrfs">SteamOS Btrfs</a>
(thank you <a href="https://gitlab.com/popsulfr"><span class="citation"
data-cites="popsulfr">@popsulfr</span> (Philipp Richter)</a>) to entire
replacement Linux distributions like <a
href="https://batocera.org/">batocera</a>, <a
href="https://github.com/ublue-os/bazzite">bazzite</a>, and <a
href="https://chimeraos.org/">ChimeraOS</a>. That’s precisely the
purpose of this project; to aid, encourage, and inspire SteamOS 3.x /
Steam Deck contributors/developers/tinkerers. If you have any questions
or comments, <a href="mailto:valve.evlav@proton.me">write to me</a>.</p>
<hr />
<p><em>“The truly intelligent person is one who can pretend to be a fool
in front of a fool who pretends to be intelligent.”</em> ―</p>
<hr />
<p><em>“The best life is the one in which the creative impulses play the
largest part and the possessive impulses the smallest.”</em> ―
<strong>Bertrand Russell, Pacifism and Revolution</strong></p>
<hr />
<p><em>“I should like to say two things, one intellectual and one
moral:</em></p>
<p><em>The intellectual thing I should want to say to them is this: When
you are studying any matter or considering any philosophy, ask yourself
only what are the facts and what is the truth that the facts bear out.
Never let yourself be diverted either by what you wish to believe or by
what you think would have beneficent social effects if it were believed,
but look only and solely at what are the facts. That is the intellectual
thing that I should wish to say.</em></p>
<p><em>The moral thing I should wish to say to them is very simple. I
should say: <strong>Love is wise, hatred is foolish. In this world,
which is getting more and more closely interconnected, we have to learn
to tolerate each other. We have to learn to put up with the fact that
some people say things that we don’t like. We can only live together in
that way, and if we are to live together and not die together we must
learn a kind of charity and a kind of tolerance which is absolutely
vital to the continuation of human life on this planet.</strong>”</em> ―
<strong>Bertrand Russell, <a
href="https://www.youtube.com/watch?v=a10A5PneXlo&amp;t=1646s">BBC Face
to Face (1959)</a></strong></p>
<hr />
<p><em>“Education can help us only if it produces “whole men”. The truly
educated man is not a man who knows a bit of everything, not even the
man who knows all the details of all subjects (if such a thing were
possible): the “whole man” in fact, may have little detailed knowledge
of facts and theories, he may treasure the Encyclopædia Britannica
because “she knows and he needn’t”, but he will be truly in touch with
the centre. He will not be in doubt about his basic convictions, about
his view on the meaning and purpose of his life. He may not be able to
explain these matters in words, but the conduct of his life will show a
certain sureness of touch which stems from this inner clarity.”</em> ―
<strong>E. F. Schumacher, Small is Beautiful: A Study of Economics as if
People Mattered</strong></p>
<hr />
<p><em>“People who talk well but do nothing are like musical
instruments; the sound is all they have to offer.”</em> ―
<strong>Diogenes, Herakleitos and Diogenes</strong></p>
<hr />
<p><em>“Missing from such histories are the countless small actions of
unknown people that led up to those great moments. When we understand
this, we can see that the tiniest acts of protest in which we engage may
become the invisible roots of social change.”</em> ― <strong>Howard
Zinn, You Can’t Be Neutral on a Moving Train: A Personal History of Our
Times</strong></p>
<hr />
<p><em>“The best people possess a feeling for beauty, the courage to
take risks, the discipline to tell the truth, the capacity for
sacrifice. Ironically, their virtues make them vulnerable; they are
often wounded, sometimes destroyed.”</em> ― <strong>Ernest Hemingway,
The Letters of Ernest Hemingway</strong></p>
<hr />
<p><em>“Keep away from people who try to belittle your ambitions. Small
people always do that, but the really great make you feel that you, too,
can become great.”</em> ― <strong>Mark Twain</strong></p>
<hr />
<p><em>“Without music, life would be a mistake.”</em> ―
<strong>Friedrich Nietzsche, Twilight of the Idols</strong></p>
<hr />
<p>🎵 <em>I’m the voice inside your head, you refuse to hear. I’m the
face that you have to face, mirroring your stare. I’m what’s left, I’m
what’s right, I’m the enemy. I’m the hand that’ll take you down, bring
you to your knees. So, who are you?</em> 🎵</p>
<p>🎵 <strong><em>Keep you in the dark, you know they all
pretend.</em></strong> 🎵</p>
<hr />
<p><em>“If you scratch a cynic, you’ll find a disappointed
idealist.”</em> ― <strong>George Carlin</strong></p>
<hr />
<p><em>“The optimist proclaims that we live in the best of all possible
worlds; and the pessimist fears this is true.”</em> ― <strong>James
Branch Cabell, The Silver Stallion</strong></p>
<p><em>“The wickedness and the foolishness of no man can avail against
the foolishness and the fond optimism of man-kind.”</em> ― <strong>James
Branch Cabell, The Silver Stallion</strong></p>
<hr />
<p><em>“A pessimist is a well-informed optimist.”</em> ― <strong>Mark
Twain</strong></p>
<hr />
<p><em>“Whoever fights with monsters should see to it that he does not
become one himself. And when you stare for a long time into an abyss,
the abyss stares back into you.”</em> ― <strong>Friedrich Nietzsche,
Beyond Good and Evil</strong></p>
<hr />
<p><strong>(May 28, 2023):</strong> The following <a
href="https://en.wikipedia.org/wiki/Free_Speech_Flag">free speech
flags</a> belong here because <a
href="https://dolphin-emu.org/blog/6T/">reasons</a> (<a
href="https://en.wikipedia.org/wiki/Reactance_(psychology)">psychological
reactance</a> / <a
href="https://en.wikipedia.org/wiki/Streisand_effect">Streisand
effect</a>) | <a
href="https://www.theverge.com/2023/6/1/23745772/valve-nintendo-dolphin-emulator-steam-emails">update</a>
| <a href="https://dolphin-emu.org/blog/6U/">aftermath</a>:</p>
<p><img alt="Free Speech Flag (Wii)" src="images/free-speech-flag-wii.png" width="480"></p>
<p><img alt="Free Speech Flag (Wii U)" src="images/free-speech-flag-wii-u.png" width="480"></p>
<ul>
<li>Wii Common Key: <strong>EBE42A225E8593E448D9C5457381AAF7</strong> |
<a href="keys/wii-common-key.bin">bin</a> | <a
href="keys/wii-common-key.txt">txt</a></li>
<li>Wii U Common Key: <strong>D7B00402659BA2ABD2CB0DB27FA2B656</strong>
| <a href="keys/wii-u-common-key.bin">bin</a> | <a
href="keys/wii-u-common-key.txt">txt</a></li>
</ul>
<h2 id="license">📜 License 📜</h2>
<p>The contents of <a href="https://gitlab.com/evlaV/holo-PKGBUILD">this
project (holo-PKGBUILD)</a> are licensed under the <a
href="LICENSE">Mozilla Public License Version 2.0 (MPL 2.0)</a>, and the
underlying packages are licensed under their respective license(s) (see:
respective package repository, directory, and/or PKGBUILD).</p>
<p>The following contents are <a href="UNLICENSE">free, unencumbered,
and released into the public domain</a> or (equivalently) licensed under
the <a href="LICENSE.0BSD">BSD Zero Clause License (0-clause)</a>:</p>
<ul>
<li><a
href="images/free-speech-flag-wii.svg"><code>images/free-speech-flag-wii.svg</code></a>
(<a
href="images/free-speech-flag-wii.png"><code>images/free-speech-flag-wii.png</code></a>)</li>
<li><a
href="images/free-speech-flag-wii-u.svg"><code>images/free-speech-flag-wii-u.svg</code></a>
(<a
href="images/free-speech-flag-wii-u.png"><code>images/free-speech-flag-wii-u.png</code></a>)</li>
</ul>
